#content {
	max-width: 1170px;
	margin: 0 auto;
}

#title {
	font-family: Helvetica;
	font-size: 40px;
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5
}

#title small {
	font-weight: normal;
	font-size: 25px;
	color: rgb(153, 153, 153);
}

#forkme {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
	font-family: Helvetica;
}

#forkme a {
	color: #0088cc;
	text-decoration: none;
	font-size: 14px;
}

#forkme a:hover {
	color: #005580;
	text-decoration: underline;
}

#parameters {
	border: 1px solid black;
	margin-bottom: 20px;
}

#animation-area {
	margin: 0 auto;
}

#drop-area {
	margin: 0 auto;
	width: inherit;
	height: inherit;
	border: 1px solid black;
	background-color: #e5e5e5;
}

#dropbox {
	width: inherit;
	height: inherit;
	background-color: white;
}
